<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="container">
  <h4>Events</h4>
  <% @events.each do |event| %>
    <ul><%= link_to event.name, event %>
      <li><%= event.date.strftime("%m/%d/%Y") %></li>
    </ul>
  <% end %> 
</div>
