
<% if logged? %>
  <div class="d-flex justify-content-between">
    <div>
      Logged in as: <%= current_user.name %>, <%= current_user.email %>
    </div>
    <div>
      <%= link_to 'Log out', logout_path, method: :delete %>
    </div>
  </div>
<% end %>
